html, body, p, button, input, select, textarea {
  font-family: Calibri, Candara, Corbel, sans-serif;
  font-weight: 300;
  font-size: 18px;
}

body {
  background-image: url(/assets/noisy_grid.png);
  margin: 0;
}

body > header {
  padding: 20px 0;
  margin-bottom: 20px;
  background-color: rgba(94, 165, 206,1);
  color: white;
}

body > footer {
  margin: 20px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
}

h1:first-child {
  margin-top: 0;
}

.block {
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgray;
}

.good {
  color: green;
}

.danger {
  color: red;
}

table {
  border: 0 solid lightgray;
  border-width: 1px 1px 0 0;
  border-collapse: collapse;
}

th, td {
  border: 0 solid lightgray;
  border-width: 0 0 1px 1px;
  padding: 4px;
}

td {
  font-size: 0.9em;
}

.chart {
  height: 300px;
  width: 500px;
}
